{layout '..\@layout.latte'}
{var $photo = new \App\Models\Photo($photo_id)}
{block content}
                <h1>Произошла ошибка</h1>
            
                <div n:foreach="$problems as $p" class="p20" style="padding:20px">
                    {$p}
                </div>
           {/block}